* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: beige;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: greenyellow;
    color: #333;
    height: 80px;
}

.navbar .logo {
    font-style: oblique;
    font-size: x-large;
    font-weight: 700;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
}

.navbar a:hover  {
    color: brown;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.container ul{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.navbar ul li {
    margin-left: 15px;
}

.header1 {
    background: beige;
    min-height: 400px;
}

.header1 h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.header1 p {
  font-size: large;
  font-weight: 600;
  margin-right: 30px;
}

.header1 img {
    max-width: 600px;
}

.header1 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: wheat;
    padding: 20px;
}

.box div { /*this is ingredients and steps */
    background-color: greenyellow;
    font-size: x-large;
    font-weight: 700;
    color: #333;
    padding: 15px 200px;
    border-radius: 15px;
}

.lists .container2 {
    display: flex;
    justify-content: space-between;
}

.boxes {
    flex: 1;
    background: wheat;
    color: #333;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 15px;
}

ul li {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.boxes ol li {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


